<div class='post-liking'>
<span class='post-date'> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
<%= like_or_dislike_btn(post) %>
likes <%= post.likes.length %>
<span>comments <%= post.comments.length %></span>
</div>